{% extends "base.html" %}
{% block head %}
<div class="navbar-inner">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/admin/">16S 分析</a>
                        </div>
                        <div id="header-navbar-collapse" class="navbar-collapse collapse navbar-right">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <strong>{{ username }}</strong> <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                            <li><a href="/login/">View site</a></li>
                                        <li><a href="/admin/password_change/">Change password</a></li>
                                        <li><a href="/admin/logout/">Log out</a></li>
                                    </ul>
                                </li>
                                <li class="divider-vertical">
                                </li>
                                <li class="dropdown" id="recent-actions-module">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Recent Actions <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        #DOTO
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
{% endblock %}
{% block main %}
    <h1>分析页面：</h1>
    <form method = 'post' enctype="multipart/form-data">
        {{ af.as_p }}
        <button type="submit" class="btn btn-primary" >提交</button>
    </form>
{% endblock %}